.r1 {
	height: 180px;
	width: 180px;
	background-color: rgb(0,0,0);
	position: absolute;
	top: 100px;
	left: 100px;
}

.r2 {
	height: 300px;
	width: 60px;
	background-color: rgb(0,0,0);
	position: absolute;
	top: 100px;
	left: 100px;
}

.r3 {
	height: 60px;
	width: 60px;
	background-color: rgb(255,255,255);
	position: absolute;
	top: 160px;
	left: 160px;
}

.r4 {
	height: 60px;
	width: 60px;
	background-color: rgb(0,0,0);
	position: absolute;
	top: 280px;
	left: 160px;
}

.r5 {
	height: 60px;
	width: 60px;
	background-color: rgb(0,0,0);
	position: absolute;
	top: 340px;
	left: 220px;
}

.a1 {
	height: 60px;
	width: 180px;
	background-color: rgb(0,0,0);
	position: absolute;
	top: 100px;
	left: 350px;
}

.a2 {
	height: 300px;
	width: 60px;
	background-color: rgb(0,0,0);
	position: absolute;
	top: 100px;
	left: 350px;
}

.a3 {
	height: 300px;
	width: 60px;
	background-color: rgb(0,0,0);
	position: absolute;
	top: 100px;
	left: 470px;
}

.a4 {
	height: 60px;
	width: 60px;
	background-color: rgb(0,0,0);
	position: absolute;
	top: 220px;
	left: 410px;
}
